* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  cursor: none;
  background: black;
}

img {
  color: #fff;
  width: 100px;
  height: 100px;
  position: fixed;
  margin-left: -50px;
}
